body {
  background-image: url("../images/image4.png");
  background-size: cover;
}

/*HEADER SECTION*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.site-container {
  width: 960px;
  height: 3rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.site-container img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.site-container p {
  font-family: Helvetica;
  color: white;
  font-size: 1rem;
}
.branding-container {
  display: flex;
  align-items: center;
}
/*NAV SECTION*/
nav {
  font-family: Helvetica;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
}
a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}
/*MAIN SECTION*/
