body {
}
/*HEADER SECTION*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/image4.png");
  background-size: cover;
  height: 30rem;
}
.banner-container {
  position: relative;
  width: 960px;
}
.menu-container {
  position: relative;
  width: 960px;
  height: 3rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.menu-container img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.menu-container p {
  font-family: Helvetica;
  color: white;
  font-size: 1rem;
}
.branding-container {
  display: flex;
  align-items: center;
}
/*NAV SECTION*/
nav {
  font-family: Helvetica;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
}
a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}
menu a {
  padding: 1rem;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
  margin-right: 2rem;
}

/*MAIN SECTION*/

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.main-title {
  position: absolute;
  height: 2rem;
  right: -2rem;
  background-color: white;
  margin-top: 10rem;
  padding: 1.5rem 5rem 1.5rem 5rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
.icons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.icons-section p {
  font-family: Helvetica;
  text-align: center;
  margin-top: 5px;
}
.icon-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  margin-right: 6rem;
}
.icon-1 img {
  width: 3.5rem;
  margin-bottom: 1rem;
}
.icon-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
  margin-right: 6rem;
}
.icon-2 img {
  width: 5rem;
  margin-bottom: 1rem;
}
.icon-3 img {
  width: 5rem;
  margin-bottom: 1rem;
}
/*BLOCKS SECTION*/

h2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.25rem;
}
.tittle-1 {
  width: 10rem;
  background-color: cadetblue;
}
.tittle-2 {
  width: 10rem;
  background-color: cadetblue;
}
.blocks {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-gap: 5rem;
}
.blocks p {
  font-family: Helvetica;
  margin-top: 1rem;
  font-size: 1rem;
}
.block-1 {
  width: 35%;
}
.block-2 {
  width: 35%;
}

/*RESPONSIVE TABLET SECTION*/
@media (max-width: 1000px) {
  .banner-container {
    width: 100%;
  }
  .menu-container {
    width: 100%;
  }
  .main-title {
    right: 2rem;
  }
  menu {
    display: none;
  }
}

/*RESPONSIVE MOBILE SECTION*/
@media (max-width: 580px) {
  .main-title {
    font-size: 1rem;
    left: -2rem;
    font-size: 1.5rem;
    right: 0rem;
    padding-left: 30%;
  }
  menu {
    display: flex;
  }
  .menu-container {
    margin-top: 0rem;
  }
  nav {
    display: none;
  }
  .branding-container p {
    display: none;
  }
  .icons-section {
    display: flex;
    flex-direction: column;
  }
  .icon-1 {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    margin-right: -20%;
    margin-bottom: 1.5rem;
    margin-top: 3.77rem;
  }
  .icon-2 {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    margin-right: -20%;
    margin-bottom: 1.54rem;
  }
  .icon-3 {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    margin-right: -20%;
    margin-bottom: 3.77rem;
  }
  .icons-section p {
    font-size: 0.77rem;
  }
  .blocks {
    flex-direction: column;
  }
  .block-1 {
    width: 100%;
  }
  .content-1 p {
    text-align: left;
    padding: 5%;
  }
  .tittle-1 {
    width: auto;
    margin-left: none;
    display: flex;
    justify-content: center;
  }
  .block-2 {
    width: 100%;
  }
  .content-2 p {
    text-align: left;
    padding: 5%;
  }
  .tittle-2 {
    width: auto;
    margin-left: none;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .main-title {
    font-size: 1rem;
    padding-left: 35%;
    display: flex;
    align-items: center;
  }
}
